.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    font-size: 1.2em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 2px #000000b4;
}

.container {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #8a00c4);
    border-radius: 0.9em;
}

.container::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
}

.container:hover::before {
    background: linear-gradient(90deg, #03a9f4, #8a00c4);
    filter: blur(1.2em);
}
.container:active::before {
    filter: blur(0.2em);
}

.btn-github {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: none;
    border-radius: 100px;
    font-weight: 800;
    place-content: center;

    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    line-height: 1rem;

    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 1px 0 0 rgba(129, 129, 129, 0.04), inset 0 0 0 1px rgba(255, 255, 255, 0.04);
    color: #fff;
}

.btn-github:hover {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08);
    color: #3398db;
    transform: translate(0, -0.25rem);
}

.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background: #1a73e8;
    color: white;
    cursor: pointer;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.back-to-top img {
    width: 2rem;
    height: 2rem;
}

.back-to-top.show {
    display: flex;
}
