@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    transition: all 400ms cubic-bezier(0.08, 0.82, 0.17, 1);
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
    color: #333;
}

body.dark {
    background: #0d0d0d;
    color: #eee;
}

body.dark .form-btn {
    background: #8a00c4;
}

body.dark .btn:hover,
body.dark .form-btn:hover {
    background: #000000;
    box-shadow: 0 4px 10px rgba(240, 0, 255, 0.4);
}

body.dark .nav-link {
    color: #fdfdfd;
}

body.dark .section-divider {
    border-top-color: #ffffff26;
}

body.dark .skill {
    background: #222;
    color: #eee;
}

body.dark .skill:hover {
    background: #333;
}

body.dark .skill-bar {
    background: #222;
}

body.dark .skill-fill {
    background: #8a00c4;
}

body.dark .learning-container li {
    background: #222;
    border-left: 5px solid #8a00c4;
}

body.dark .project-card {
    background: #1a1a1a;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}

body.dark .project-card p,
body.dark .project-tech-list {
    color: #ddd;
}

body.dark .project-title-link {
    color: #8a00c4;
}

body.dark .project-section h3,
body.dark section h2,
body.dark .contact a {
    color: #8a00c4;
}

body.dark footer {
    background: #000;
}

body.dark .back-to-top {
    background: #8a00c4;
}

body.dark .btn-github:hover {
    color: hsl(282, 70%, 38%);
}

footer {
    text-align: center;
    padding: 2rem 1.5rem;
    background: #1f1f1f;
    color: white;
    margin-top: 30px;
}

html,
body {
    overflow-x: hidden;
}
